<div #scrollBlock class="block appear">

  <img src="assets/images/sabina-2.png"  alt="flowe-image" class="flower-top">

<div class="welcome-block">
  <span class="title">Сабина</span>
  <span class="title">Кыз узату</span>

  <span class="invitation">Дорогие гости,</span>
  <span class="invitation">приглашаем вас на мероприятие</span>

  <span class="date month">СЕНТЯБРЬ</span>

  <div class="date-block">
    <span class="date bordered">ВОСКРЕСЕНЬЕ</span>
    <span class="date day">3</span>
    <span class="date bordered">17:00</span>
  </div>
  <span class="year">2023</span>
</div>
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  <div class="map">
    <ya-map [center]="[43.158763, 76.893527]" [zoom]="14">
      <ya-placemark [geometry]="[43.158763, 76.893527]"></ya-placemark>
    </ya-map>
  </div>
</div>


<div #scrollBlock class="block">

  <div class="center-line">
    <div class="start-dot"></div>
    <div class="center-line-dot dot1"></div>
    <div class="center-line-dot dot2"></div>
    <div class="center-line-dot dot3"></div>
    <div class="center-line-dot dot4"></div>

    <div class="image-circle circle1">
      17:00
      <br>
      Қонақтардың жиналуы
      <img src="assets/images/sabina-circle1.png"  alt="image-circle-1">
    </div>

    <div class="image-circle circle2">
      17:30
      <br>
      Фуршет
      <br>
      Фотосессия
      <img src="assets/images/sabina-circle2.png"  alt="image-circle-1">
    </div>

    <div class="image-circle circle3">
      18:00
      <br>
      Тойдың басталуы
      <img src="assets/images/sabina-circle3.png"  alt="image-circle-1">
    </div>

  </div>

</div>
