<div #scrollBlock class="block appear">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit.
  Adipisci aut cum, error fugit id illo,
  illum laborum minus molestias natus nisi officia perspiciatis
  porro rem similique sit velit veritatis voluptatem?
</div>

<div #scrollBlock class="block">
  <div class="map">
    <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
    </ya-map>
  </div>
</div>


<div #scrollBlock class="block">

</div>
